html{
    scroll-behavior: smooth;
}

body{
  font-family: 'Alegreya Sans SC', sans-serif;  
  background-image: url("../concrete_seamless.png");
  background-color: #f1f1f1;

  font-size: 18px;
  margin: 0;
  padding: 0;
}
